/* //- Name: Tommy Cao
   //- Date: 5/29/17
   //- Company: GEVH
   //- Description: Great Entertainment Vacation Rental Website */

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* change the background color */
.navbar-custom {
  background-color: #333333/* #343440   #464545; */
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffff;
  padding: 0.8rem 1rem;
}

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.33); 
  padding: 1rem 1rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
  background-color: #000000/*#110f0f;  add background-color to active links */
}

/* Pagination */
   .list-wrapper {
    padding: 18px;
    overflow: hidden;
  }
  
  .list-item {
    border: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 12px;
    padding: 12px;
    box-shadow: 0px 0px 12px 0px rgb(193, 228, 238);
  }
  
  .list-item h4 {
    font-size: 18px;
    margin: 0 0 6px;	
  }
  
  .list-item p {
    margin: 0;
  }
  
  .simple-pagination ul {
    margin: 0 0 24px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .simple-pagination li {
    display: inline-block;
    margin-right: 6px;
  }
  
  .simple-pagination li a,
  .simple-pagination li span {
    color: #000000;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #000000;
    background-color: #FFF;
    box-shadow: 0px 0px 12px 0px #EEE;
  }
  
  .simple-pagination .current {
    color: #FFF;
    background-color: #6C7570;
    border-color: #000000;
  }
  
  .simple-pagination .prev.current,
  .simple-pagination .next.current {
    background: #6C7570;
  }

 /* End Pagination */